<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>test.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>servlet.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/servlet/regServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/servlet/http</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>datainfoc</servlet-name>
        <servlet-class>test.datainfoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>test.cookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datainfoc</servlet-name>
        <url-pattern>/servlet/datainfo</url-pattern>
    </servlet-mapping>



    <!--mainsettle-->
    <servlet>
        <servlet-name>SettleServlet</servlet-name>
        <servlet-class>servlet.SettleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettleServlet</servlet-name>
        <url-pattern>/web/mainsettle</url-pattern>
    </servlet-mapping>


    <!--mainpay-->
    <servlet>
        <servlet-name>PayServlet1</servlet-name>
        <servlet-class>servlet.PayServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayServlet1</servlet-name>
        <url-pattern>/web/mainpay1</url-pattern>
    </servlet-mapping>



    <!--etypelist-->
    <servlet>
        <servlet-name>etypelist</servlet-name>
        <servlet-class>webservlet.Etype.EtypeList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>etypelist</servlet-name>
        <url-pattern>/web/etypelist</url-pattern>
    </servlet-mapping>


    <!--etypeadd-->
    <servlet>
        <servlet-name>etypeadd</servlet-name>
        <servlet-class>webservlet.Etype.EtypeAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>etypeadd</servlet-name>
        <url-pattern>/web/etypeadd</url-pattern>
    </servlet-mapping>

    <!--etypedelete-->
    <servlet>
        <servlet-name>etypedelete</servlet-name>
        <servlet-class>webservlet.Etype.EtypeDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>etypedelete</servlet-name>
        <url-pattern>/web/etypedelete</url-pattern>
    </servlet-mapping>


    <!--etypeupdate-->
    <servlet>
        <servlet-name>etypeupdata</servlet-name>
        <servlet-class>webservlet.Etype.EtypeUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>etypeupdata</servlet-name>
        <url-pattern>/web/etypeupdata</url-pattern>
    </servlet-mapping>





    <!--crelist-->
    <servlet>
        <servlet-name>CrList</servlet-name>
        <servlet-class>webservlet.Cr.CrList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrList</servlet-name>
        <url-pattern>/web/crlist</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CrAdd</servlet-name>
        <servlet-class>webservlet.Cr.CrAdd</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CrAdd</servlet-name>
        <url-pattern>/web/cradd</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CrDelete</servlet-name>
        <servlet-class>webservlet.Cr.CrDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CrDelete</servlet-name>
        <url-pattern>/web/crdelete</url-pattern>
    </servlet-mapping>





    <!--einfolist-->
    <servlet>
        <servlet-name>EinfoList</servlet-name>
        <servlet-class>webservlet.Einfo.EinfoList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EinfoList</servlet-name>
        <url-pattern>/web/einfolist</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>EinfoAdd</servlet-name>
        <servlet-class>webservlet.Einfo.EinfoAdd</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EinfoAdd</servlet-name>
        <url-pattern>/web/einfoadd</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>EinfoDelete</servlet-name>
        <servlet-class>webservlet.Einfo.EinfoDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EinfoDelete</servlet-name>
        <url-pattern>/web/einfodelete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>EinfoUpdate</servlet-name>
        <servlet-class>webservlet.Einfo.EinfoUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EinfoUpdate</servlet-name>
        <url-pattern>/web/einfoupdate</url-pattern>
    </servlet-mapping>


    <!--pmlist-->
    <servlet>
        <servlet-name>PmList</servlet-name>
        <servlet-class>webservlet.Pm.PmList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PmList</servlet-name>
        <url-pattern>/web/pmlist</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PmAdd</servlet-name>
        <servlet-class>webservlet.Pm.PmAdd</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PmAdd</servlet-name>
        <url-pattern>/web/pmadd</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PmDelete</servlet-name>
        <servlet-class>webservlet.Pm.PmDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PmDelete</servlet-name>
        <url-pattern>/web/pmdelete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PmUpdate</servlet-name>
        <servlet-class>webservlet.Pm.PmUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PmUpdate</servlet-name>
        <url-pattern>/web/pmupdate</url-pattern>
    </servlet-mapping>


    <!--clientlist-->
    <servlet>
        <servlet-name>ClientList</servlet-name>
        <servlet-class>webservlet.Client.ClientList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientList</servlet-name>
        <url-pattern>/web/clientlist</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ClientAdd</servlet-name>
        <servlet-class>webservlet.Client.ClientAdd</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientAdd</servlet-name>
        <url-pattern>/web/clientadd</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ClientDelete</servlet-name>
        <servlet-class>webservlet.Client.ClientDelete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientDelete</servlet-name>
        <url-pattern>/web/clientdelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientUpdate</servlet-name>
        <servlet-class>webservlet.Client.ClientUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientUpdate</servlet-name>
        <url-pattern>/web/clientupdate</url-pattern>
    </servlet-mapping>


    <!--clientlist-->
    <servlet>
        <servlet-name>EList</servlet-name>
        <servlet-class>webservlet.E.EList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EList</servlet-name>
        <url-pattern>/web/elist</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>EAdd</servlet-name>
        <servlet-class>webservlet.E.EAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EAdd</servlet-name>
        <url-pattern>/web/eadd</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>EDelete</servlet-name>
        <servlet-class>webservlet.E.EDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EDelete</servlet-name>
        <url-pattern>/web/edelete</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>EUpdate</servlet-name>
        <servlet-class>webservlet.E.EUpdate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EUpdate</servlet-name>
        <url-pattern>/web/eupdate</url-pattern>
    </servlet-mapping>

</web-app>
