<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>test.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>servlet.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/servlet/regServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/servlet/http</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>datainfoc</servlet-name>
        <servlet-class>test.datainfoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>test.cookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datainfoc</servlet-name>
        <url-pattern>/servlet/datainfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>etypelist</servlet-name>
        <servlet-class>webservlet.EtypeList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>etypelist</servlet-name>
        <url-pattern>/etypelist</url-pattern>
    </servlet-mapping>
</web-app>
